body
    {
        font-family:    'Courier New', Courier, monospace;
        margin: 100px;
        /* border: 1px solid black; */
        text-align: center;
        align-items:        center;
        /* padding:            5px 5px; */
        padding-block:      5px 5px;

    }

#main_screen /*MAIN_PARENT*/
    {
        /* ALIGNMENT PROPERTIES */
        align-items:        center;
        display:            flex;
        justify-content:    center;
        /* top:                100px;     */
        /* BORDER PROPERTIES */
        border:     1px solid black;
        height:     50vh;
        width:      30vw;
        margin:     auto;
        color:      black;
        /* top:        -50px; */
       

    }
#main_header /*CHILD*/
    {
        /* COLOR PROPERTIES*/
        color: blue;
        /* ALIGNMENT PROPERTIES */
        align-items:        center;
        display:            flex;
        justify-content:    center;

    }
/* //////////////////////////////TEXT BOXES */
#email_box /*CHILD*/
    {
        /* ALIGNMENT PROPERTIES */
        align-items:        center;
        display:            flex;
        justify-content:    center;
        /* SIZING */
        width:              95%;
        /* TEXT BORDER PROPERTIES */
        border-radius:      5px;
        padding:            5px 0px;
        padding-left:       5%;
        margin-top:         10px;
        margin-bottom:      10px;
        /* margin:             10%; */
        
    }

#password_box /*CHILD*/
    {
        /* ALIGNMENT PROPERTIES */
        align-items:        center;
        display:            flex;
        justify-content:    center; 
        /* SIZING */
        width:              95%;
        /* TEXT BORDER PROPERTIES */
        border-radius:      5px;
        padding:            5px 0px;
        padding-left:       5%;
        margin-top:         10px;
        margin-bottom:      10px;
        /* margin:             10%; */
    }
/* //////////////////////////////////////////////////// */


/*////////////////////////////////////// BUTTONS */
#but_button /*CHILD*/
    {
        /* COLOR PROPERTIES */
        background-color: blue;
        /* ALIGNMENT PROPERTIES */
        align-items:        center;
        /* display:            flex; */
        justify-content:    center;
        left:               50px;
        /* TEXT PROPERTIES */
        color:              white;
        /* SIZING */
        width:              101.5%;
        /* TEXT BORDER PROPERTIES */
        border-radius:      5px;
        padding:            5px 0px;
        margin-top:         10px;
        margin-bottom:      10px;
        /* border-spacing:     10px; */
        /* padding-left:       5%; */
        /* CURSORS PROPERTIES */
        cursor:             pointer;
        border:             none;
    }
.but_button  /* SPECIFIC PROPERTIES */
    { 
        text-align: center; 
        /* SIZING */
        width:              100%;
    }

#but_button_2 /*CHILD*/
    {
        /* COLOR PROPERTIES */
        background-color:  grey;
        /* ALIGNMENT PROPERTIES */
        align-items:        center;
        display:            flex;
        justify-content:    center; 
        /* TEXT PROPERTIES */
        color:              darkgrey;
        /* SIZING */
        width:              101.5%;
        /* TEXT BORDER PROPERTIES */
        border-radius:      5px;
        padding:            5px 0px;
        margin-top:         10px;
        margin-bottom:      10px;
        /* margin:             10%; */
        /* border-spacing:     10px; */
        /* padding-left:       5%; */
        /* CURSORS PROPERTIES */
        cursor:             pointer;
        border:             none;
        
    }
/* //////////////////////////////////////////////////// */

/* ////////////////////////////////////FOR ONSCREEN TEXT */

#text_1 /* GENERAL PROPERTIES */
    {
        /* TEXT PROPERTIES */
        color:              blue;

    }
/* SPECIFIC EVENTS */
#text_1:hover
    {
        text-decoration: underline;
        cursor: pointer;
    }
/* ///////////////////////////////////// */
/* #_1st_line
    {
        width:      50%;
        float:      left;
        text-align:  unset;
    }

#_text_2
    {
       text-align:  unset;
       width:      0%;
    }

#_2nd_line
    {
        width:      25%;
        text-align:  unset;
    } */